
.article__two {
    overflow-x: hidden;
}
#btn_slider {
    height: fit-content;
}
.slider {
    width: 1000px;
    /* height: 500px; */
    height: fit-content;
    margin: 15px auto;
    overflow: hidden;
    display: flex;
    /* position: relative; */
}
/* .slider h1 {
    width: 90%;
    margin: 10px auto;
    background: #1967D2;
    font-weight: bold;
    font-weight: 500;
    color: white;
} */
/* .slider span {
    position: relative;
    top: 25%;
    font-size: 60px;
    font-weight: bold;
    color: steelblue;
    cursor: pointer;
    left: .5%;
    z-index: 1;
} */
.slider span:nth-of-type(2) {
    left: 95%;
}
.slider section {
    width: 98%;
    height: 280px;
    /* background: #f4f4f4; */
    background: transparent;
    margin: 0px auto;
    display: flex;
    justify-content: left;
    overflow-x: auto;
}
.slider section::webkit-scrollbar {
    visibility: hidden;
}
.slider div {
    min-width: 330px;
    height: 250px;
    position: relative;
    left: 0;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    margin: 0px 5px;
    color: white;
    background: #3E497A;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
/* section */
section div {
    /* flex-direction: column; */
}
section div > * {
    color: #F0F0F0;
}
section div img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}